<!DOCTYPE html>
<html>
<head>
    <title>거리 계산 서비스</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        let map;
        let waypoints = [];
        let POSTForm;
        let geocode;

        function addToList(content, location) {
            let list = document.getElementById('list');
            let newLI = document.createElement('li');
            newLI.innerHTML = content;
            list.appendChild(newLI);
            setTimeout(function () {
                newLI.className = newLI.className + " show";
                let addressList = document.getElementById("address_list");
                addressList.scrollTop = addressList.scrollHeight;
                new google.maps.Marker({
                    position: location,
                    map: map
                });
                let position = new google.maps.LatLng(location.lat(), location.lng());
                waypoints.push(position);
            }, 10);
        }

        function initialize() {
            map = new google.maps.Map(document.getElementById("googleMap"), {
                center: {lat: 40.7583, lng: -73.9795},
                zoom: 16
            });
            geocode = new google.maps.Geocoder;

            google.maps.event.addListener(map, 'click', function (e) {
                placeMarker(e.latLng);
            });
        }

        function placeMarker(location) {
            geocode.geocode({
                'location': {
                    lat: location.lat(),
                    lng: location.lng()
                }
            }, function (results, status) {
                if (status === 'OK') {
                    addToList(results[1].formatted_address, location);
                } else {
                    window.alert("주소를 찾을 수 없습니다");
                    addToList("위도 " + location.lat().toFixed(5) + " 경도 " + location.lng().toFixed(5), location);
                }
            })
        }


        function sendData(path, params, method) {
            method = method || "post";

            let tmp = JSON.stringify(params);

            POSTForm = document.createElement("form");
            POSTForm.setAttribute("method", method);
            POSTForm.setAttribute("action", path);

            let hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", 'obj');
            hiddenField.setAttribute("value", tmp);

            POSTForm.appendChild(hiddenField);
            document.body.appendChild(POSTForm);
            POSTForm.submit();
        }
    </script>

</head>
<body>
<div id="googleMap" style="width:80%; height: 100%; float: left;"></div>
<div class="slide-fade" style="width: 20%; height: 100%; float: right; background-color: #ffffff">
    <div id="address_list" style="margin: 0;overflow: auto; height: 720px;">
        <ul id="list">
        </ul>
    </div>
    <div>
        <input class="btn" onclick="sendData('/results', waypoints, 'post')" type="button" value="확인"
               style="display: block;margin-left: auto; margin-right: auto">
    </div>
</div>
<script async defer
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAVwr9AQxyGR45e7CdtsRnQAeSU1oRibOM&callback=initialize"></script>
</body>
</html>
