<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        let map;
        let service;
        let waypoints = [];
        let dist = [];
        let POSTForm;

        function addToList(content) {
            let list = document.getElementById('list');
            let newLI = document.createElement('li');
            newLI.innerHTML = content;
            list.appendChild(newLI);
            setTimeout(function () {
                newLI.className = newLI.className + " show";
            }, 100);
        }

        function initialize() {
            let myCenter = new google.maps.LatLng(40.758369, -73.9795613);
            let mapProp = {
                center: myCenter,
                zoom: 16
            };
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            service = new google.maps.DirectionsService;

            google.maps.event.addListener(map, 'click', function (e) {
                if (waypoints.length <= 15) {
                    placeMarker(e.latLng);
                    addToList('좌표' + waypoints.length);
                    alert(new Date().getTime());
                } else {
                    alert('15개까지만 가능합니다. 아직은...');
                }
            });
        }

        function placeMarker(location) {
            new google.maps.Marker({
                position: location,
                map: map
            });
            let position = new google.maps.LatLng(location.lat(), location.lng());
            waypoints.push(position);
        }

        //        google.maps.event.addDomListener(window, 'load', initialize);

        function endOfData() {
            let distStr = JSON.stringify(dist);
            console.log(distStr);
            let distanceObj = document.createElement("input");
            distanceObj.setAttribute("type", "hidden");
            distanceObj.setAttribute("name", 'dist');
            distanceObj.setAttribute("value", distStr);
            POSTForm.appendChild(distanceObj);
            document.body.appendChild(POSTForm);
            POSTForm.submit();
        }

        function checkQueryLimit() {
            $.post('/checkQueryLimit',
                function (req, res) {
                    if (res) {
                        service.route({
                            origin: waypoints[index],
                            destination: waypoints[i],
                            travelMode: 'DRIVING'
                        }, function (res, status) {
                            if (status === 'OK') {
                                dist.push(res.routes[0]);
                            } else {
                                window.alert(status);
                            }
                        });
                    } else {
                        //todo
                    }
                })
        }

        function sendData(path, params, method, callback) {
            process.nextTick(endOfData);
            method = method || "post";

            let tmp = JSON.stringify(params);

            POSTForm = document.createElement("form");
            POSTForm.setAttribute("method", method);
            POSTForm.setAttribute("action", path);

            let hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", 'obj');
            hiddenField.setAttribute("value", tmp);

            POSTForm.appendChild(hiddenField);

            for (let index = 0; index < waypoints.length; index++) {
                for (let i = 0; i < index; i++) {
                    //todo
                }
            }

//        if (dist.length === (waypoints.length * (waypoints.length - 1) / 2)) {
//            let distStr = JSON.stringify(dist);
//            console.log(distStr);
//            let distanceObj = document.createElement("input");
//            distanceObj.setAttribute("type", "hidden");
//            distanceObj.setAttribute("name", 'dist');
//            distanceObj.setAttribute("value", distStr);
//            form.appendChild(distanceObj);
//            document.body.appendChild(form);
//            form.submit();
//        }
        }
    </script>
</head>
<body>
<div id="googleMap" style="width:500px; height:500px; float: left;"></div>
<div class="fade" style="width: 200px; height: 500px; float: left; border: 1px black solid;">
    <div style="overflow-y: auto; height: 465px; display: block;">
        <ul id="list">
        </ul>
    </div>
    <div>
        <input onclick="sendData('/send', waypoints, 'post')" type="button" value="확인"
               style="display: block;margin-left: auto; margin-right: auto">
    </div>
</div>
<script async defer
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAVwr9AQxyGR45e7CdtsRnQAeSU1oRibOM&callback=initialize"></script>
</body>
</html>

