<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<div id="googleMap" style="width:500px; height:500px; float: left;"></div>
<div class="fade" style="width: 200px; height: 500px; float: left; border: 1px black solid;">
    <div style="overflow-y: auto; height: 465px; display: block;">
        <ul id="list">
        </ul>
    </div>
    <div>
        <input onclick="sendData('/send', waypoints, 'post')" type="button" value="확인"
               style="display: block;margin-left: auto; margin-right: auto">
    </div>
</div>
<script>
    let map;
    let service;
    let waypoints = [];
    const origin1 = {lat: 55.93, lng: -3.118};
    const origin2 = 'Greenwich, England';
    const destinationA = 'Stockholm, Sweden';
    const destinationB = {lat: 50.087, lng: 14.421};

    function addToList(content) {
        let list = document.getElementById('list');
        let newLI = document.createElement('li');
        newLI.innerHTML = content;
        list.appendChild(newLI);
        setTimeout(function () {
            newLI.className = newLI.className + " show";
        }, 10);
    }

    function initialize() {
        let myCenter = new google.maps.LatLng(36.35131981936201, 127.30094164609909);

        let mapProp = {
            center: myCenter,
            zoom: 16
        };
        map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
        service = new google.maps.DistanceMatrixService;

        google.maps.event.addListener(map, 'click', function (e) {
            placeMarker(e.latLng);
            addToList('좌표' + waypoints.length);
        });
    }

    function placeMarker(location) {
        new google.maps.Marker({
            position: location,
            map: map
        });
        let position = {
            lat: location.lat(),
            lng: location.lng()
        };
        waypoints.push(position);
    }

    //        google.maps.event.addDomListener(window, 'load', initialize);

    function sendData(path, params, method) {
        method = method || "post";

        let tmp = JSON.stringify(params);

        let form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        let hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", 'obj');
        hiddenField.setAttribute("value", tmp);

        form.appendChild(hiddenField);

        service.getDistanceMatrix({
            origins: [origin1, origin2],
            destinations: [destinationA, destinationB],
            travelMode: 'DRIVING',
            unitSystem: google.maps.UnitSystem.METRIC,
            avoidHighways: false,
            avoidTolls: false
        }, function (response, status) {
            if (status !== 'OK') {
                alert('Error was: ' + status);
            } else {
                let dist = JSON.stringify(response.rows);
                let distanceObj = document.createElement("input");
                distanceObj.setAttribute("type", "hidden");
                distanceObj.setAttribute("name", 'dist');
                distanceObj.setAttribute("value", dist);

                form.appendChild(distanceObj);
                document.body.appendChild(form);
                form.submit();
            }
        });

    }
</script>
<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAVwr9AQxyGR45e7CdtsRnQAeSU1oRibOM&callback=initialize"></script>
</body>
</html>
