body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

li {
    list-style: none;
    background: #d1703c;
    color: #fff;
    height: 0;
    line-height: 2em;
    margin: 0;
    overflow: hidden;
    width: 10em;
}

.fade li {
    transition: all 0.4s ease-out;
    opacity: 0;
    height: 2em;
    margin: 2px 0;
}

.fade li.show {
    opacity: 1;
}

