body {
    padding: 50px 0 0 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

li {
    list-style: none;
    background: #ffffff;
    color: #000;
    border: solid 1px black;
    height: 0;
    line-height: 100%;
    overflow: hidden;
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

li.show {
    height: auto;
    margin: 2px 0 10px 0;
    padding: 10px;
    font-size: 15px;
}

.slide-fade li {
    transition: all 0.4s ease-out;
    opacity: 0;
}

.slide-fade li.show {
    opacity: 1;
}

